<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"type="image/x-icon" href="data:image/x-icon;,">
    <title>Media Preview</title>
    <base href="<%- ctx.base_href %>" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="<%- ctx.styles.get('index.css') %>">
    <script src='https://unpkg.com/panzoom@9.4.0/dist/panzoom.min.js'></script>
    <script type="module" defer async src="<%- ctx.scripts.get('index.js') %>"></script>
</head>
<body class="page-home">
</body>
</html>